:root {
    --darkest-color: #000;
	--darkest-contrast: #fff;
}

body {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    
}

h1 {	
	font-family: 'Press Start 2P', cursive;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    max-width: 60%;
}

p {
    text-align: left;
    padding-bottom: .6rem;
}

a, a:hover {
    text-decoration: none;
}

.navigation {
    border-bottom: 1px solid rgb(230,230,230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--darkest-color);    
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 9999;
    transition: all .3s;
}

.navigation.sticky {
    padding: 0;
    background: var(--darkest-color);
    color: var(--darkest-contrast);
}

.navigation img {
    height: 40px;
    margin: 5px 15px 5px 10px;
}

.navigation ul {
    text-decoration: none;
    margin: 0 10px 0 0;
}

.navigation li {
    display: inline-block;
    margin: 0 15px;
}

.navigation li a {
    padding: 10px 5px;
    display: block;
    color: inherit;
}

a[href="#intro"], a[href="#intro"]:hover, a[href="#intro"]:visited {
    text-transform: none;
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--darkest-color);
}

.navigation.sticky a[href="#intro"], 
.navigation.sticky a[href="#intro"]:hover, 
.navigation.sticky a[href="#intro"]:visited {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--darkest-contrast);
}

section {
    width: 98vw;
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#instructions ul li {
    padding: 0.4rem;
}

#instructions ul li:before {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    content: '>';
}

#start-btn {
    font-family: 'Press Start 2P',cursive;
    background-color: transparent;
    border: 0.1rem solid black;
    padding: 1rem 2rem;
}

#reset-btn {
    display: none;
    width: 100%;
    color: var(--darkest-contrast);
    font-family: 'Press Start 2P',cursive;
    background-color: transparent;
    border: 0.1rem solid var(--darkest-contrast);
    padding: 1rem 2rem;
}

#game-graphics {
    position: absolute;
    color: var(--darkest-contrast);
    text-shadow:
		-1px -1px 0 var(--darkest-color),
		1px -1px 0 var(--darkest-color),
		-1px 1px 0 var(--darkest-color),
		1px 1px 0 var(--darkest-color);
}

#win-text {
    display: none;
    width: 100%;
}

#win-score {
    display: none;
}

#game-over-text {
    display:none;
}

#score {
    margin-top: -12rem;
    font-size: 2rem;
    text-align: center;
    user-select: none;
}

#game {
    background-image: url('../images/bg.png');
}